.sectionHeader {
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    max-width: 100%;
    height: 700px;
    padding: 0px !important;
    margin: 0px !important;
}

.sectionHeaderTitle {
    text-align: center;
    color: WHITESMOKE;
    text-shadow: 0px 0px 5px black;
}
